.checkout__submit{
    width: 25.5rem;
    height: 6rem;
    font-family: var(--primary-font);
    color: #000;
    background-color: #F5EBC1;
    outline: 1px solid #000;
    font-size: 2.4rem;
    cursor: pointer;
    margin: 0 auto;
}