.product_box{
    width: 135rem;
    height: 74rem;
    background-color: #87859E;
    margin: 0 auto;
    font-family: var(--primary-font);
    color: black;
    position: relative;
    margin-bottom: 5rem;
}

.bw_title{
    font-size: 6.4rem;
    text-align: center;
    margin-left: 75rem;
    position: relative;
    top: 5rem;
}

.bw_desc{
    margin-left: 75rem;
    text-align: center;
    font-size: 2.2rem;
}

.req{
    position: absolute;
    margin-left: 92rem;
    margin-top: -1rem;
}

.like{
    height: 5rem;
    width: 10rem;
    margin-left: 85rem;
    position: absolute;
    top: 55rem;
    font-family: var(--primary-font);
    color: #000;
    font-size: 2rem;
    background: transparent;
    outline: 3px solid black;
}

.A0,
.A1,
.A2,
.A3,
.A4{
    width: 5.8rem;
    height: 5.8rem;
    background-color: #DAE3ED;
    font-size: 3.6rem;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    padding-top: 1rem;
}

.A0{
    margin-left: 44rem;
    margin-top: 4rem;
}

.A1{
    margin-left: 54rem;
    margin-top: 4rem;
}

.A2{
    margin-left: 64rem;
    margin-top: 4rem;
}

.A3{
    margin-left: 74rem;
    margin-top: 4rem;
}

.A4{
    margin-left: 84rem;
    margin-top: 4rem;
}

.size{
    margin-left: 38rem;
}

.cost-text{
    width: 23.9rem;
    height: 7.1rem;
    background-color: #EDC6C2;
    font-size: 6.4rem;
    text-align: center;
    position: absolute;
    bottom: 14rem;
    left: 80rem;
}

.qty{
    width: 4rem;
    height: 3.1rem;
    background-color: #8F9E8D;
    font-size: 2.4rem;
    position: absolute;
    margin-left: 119rem;
    top: 55rem;
}

.cars{
    width: 6.2rem;
    height: 2.6rem;
    background-color: #fff;
    font-size: 2.4rem;
    position: absolute;
    margin-left: 123rem;
    top: 55rem;
}

.framed{
    position: absolute;
    background-color: #8F9E8D;
    margin-left: 121.2rem;
    top: 52rem;
}

.Buy{
    width: 20.4rem;
    height: 8.1rem;
    background-color: transparent;
    outline: 3px solid #000;
    font-size: 3.8rem;
    position: absolute;
    left: 98rem;
    bottom: 5rem;
    font-family: var(--primary-font);
}

.download{
    width: 20.4rem;
    height: 8.1rem;
    outline: 3px solid black;
    background: transparent;
    font-size: 3rem;
    font-family: var(--primary-font);
    position: absolute;
    left: 80rem;
    bottom: 5rem;
}

.big-img{
    width: 72.1rem;
    height: 72.1rem;
    border-radius: 2rem;
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.bottom_pics{
    height: 293.84px;
    margin-bottom: 5rem;
}

.bottom-img1,
.bottom-img2,
.bottom-img3,
.bottom-img4{
    width: 293.84px;
    height: 293.84px;
    margin: 0 auto;
    position: relative;
    margin-left:2rem;
    left: 10rem;
}

.ooo{
    font-family: var(--primary-font);
    font-size: 3.8rem;
    position: relative;
    margin-left: 89rem;
    top: 32rem;
    text-decoration: underline black;
}

.type{
    background-color: #8F9E8D;
    left: 119rem;
    position: absolute;
    bottom: 22rem;
}

.type1{
    position: absolute;
    left: 107.5rem;
    top: 49rem;
    height: 3rem;
    font-family: var(--primary-font);
    font-size: 1.8rem;
}

.frame{
    font-family: var(--primary-font);
    font-size: 1.8rem;
    position: absolute;
    height: 3rem;
    left: 108.9rem;
    top: 52rem;

}

@media all and (max-width:360px) {
    .product_box{
        width: 33rem;
        height: 75rem;
        margin-top: 2rem;
    }
    .big-img{
        width: 30rem;
        height: 30rem;
        left: 1.5rem;
    }
    .bw_title{
        font-size: 3.4rem;
        margin: 0 auto;
        top: 33rem;
    }
    .bw_desc{
        font-size: 1.5rem;
        margin: 0 auto;
        top: 43rem;
        left: 1rem;
        position: absolute;
    }
    .req{
        margin: 0 auto;
        left: 6rem;
        bottom: 23rem;
        font-size: 2rem;
    }
    .size{
        margin: 0 auto;
        margin-left: -43rem;
        margin-top: 42rem;
    }
    .A0,
    .A1,
    .A2,
    .A3,
    .A4{
        width: 2.8rem;
        height: 2.8rem;
        font-size: 2.4rem;
        padding-top: 0;
    }

    .A0{
        margin-left: 50rem;
    }
    .A2{
        margin-left: 58rem;
    }
    .A3{
        margin-left: 62rem;
    }
    .A4{
        margin-left: 66rem;
    }
    .cost-text{
        margin: 0 auto;
        left: 0;
        width: 10.9rem;
        height: 4.1rem;
        font-size: 3.2rem;
        margin-bottom: -3rem;
        margin-left: 2rem;
    }
    .framed{
        margin: 0 auto;
        font-size: 2rem;
        margin-left: 21rem;
        margin-top: 8rem;
    }
    .frame{
        margin: 0 auto;
        margin-top: 8rem;
        margin-left: 19rem;
    }
    .qty{
        margin: 0 auto;
        width: 2.5rem;
        height: 2.1rem;
        font-size: 1.5rem;
        margin-left: 26.5rem;
        margin-top: 7.4rem;
    }
    .cars{
        margin: 0 auto;
        font-size: 1.5rem;
        width: 3.1rem;
        height: 2.1rem;
        margin-left: 29rem;
        margin-top: 7.4rem;
    }
    .like{
        margin: 0 auto;
        width: 7rem;
        height: 2.5rem;
        font-size: 1.5rem;
        margin-top: 10rem;
        margin-left: 4rem;
    }
    .download{
        width: 10.2rem;
        height: 4rem;
        margin: 0 auto;
        left: 2rem;
        bottom: 2rem;
        font-size: 1.5rem;
    }
    .Buy{
        width: 10.2rem;
        height: 4rem;
        margin: 0 auto;
        left: 0;
        font-size: 1.5rem;
        bottom: 2rem;
        left: 22rem;
    }
    .bottom-img1,
    .bottom-img2,
    .bottom-img3,
    .bottom-img4{
        width: 13.3rem;
        height: 13.3rem;
        margin: 0 auto;
        position: absolute;
    }
    .bottom-img1{
        margin-left: -8rem;
    }
    .bottom-img2{
        margin-left: 8rem;
    }
    .bottom-img3{
        margin-left: -8rem;
        margin-top: 15rem;
    }
.bottom-img4{
    margin-left: 8rem;
    margin-top: 15rem;
}
}