.top-text{
    font-family: var(--primary-font);
    position: relative;
}

.info{
    color: #000;
    top: 5.5rem;
    position: inherit;
    left: 50rem;
    width: 50rem;
}

.text-rest{
    color: #00000088;
    margin-left: 67rem;
}

.photo__label{
    display: inline-block;
    font-family: var(--primary-font);
    color: #000;
    font-size: 2.5rem;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    text-align: right;
    width: 57rem;
    margin-top: 2rem;
}

.photo__text-field{
    width: 33rem;
    height: 3.3rem;
    outline: 3px solid #000;
    background-color: transparent;
    font-size: 2.5rem;
    font-family: var(--primary-font);
}

.photo__text-field-email{
    margin-top: 10rem;
}

.photo__submit{
    width: 25rem;
    height: 5.4rem;
    background-color: #F5EBC188;
    font-family: var(--primary-font);
    font-size: 2.4rem;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    margin-left: 62rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media all and (max-width:360px) {
    .top-text{
        margin: 0 auto;
        position: absolute;
        margin-left: -50rem;
        font-size: 1.5rem;
    }
    .info{
        margin-top: -2rem;
        margin-left: 5rem;
    }
    .text-rest{
        text-align: center;
        margin-top: 3.5rem;
        margin-left: 62.5rem;
    }
    .photo__label{
        font-size: 1.8rem;
        margin-left: 6rem;
        text-align: left;
        width: 27rem;
    }
    .photo__text-field{
        margin-left: 6rem;
        width: 20rem;
        height: 2rem;
        font-size: 1.2rem;
    }
    .photo__submit{
        margin-left: 6.5rem;
        font-size: 1.8rem;
        width: 20rem;
        height: 4.4rem;
    }
    .photo_label--email{
        position: relative;
        top: 9rem;
    }
}