.normal-card{
    width: 45.8rem;
    height: 45.8rem;
    box-shadow: 6px 6px 4px 0 var(--tertiary-colour-trans);
    vertical-align: top;
    margin-top: 5rem;
    margin-bottom: 5rem;
    white-space: nowrap;
    display: inline;
}


.normal-card--wedding,
.normal-card--bw,
.normal-card--painting,
.normal-card--sculpture,
.normal-card--animal,
.normal-card--building{
    object-fit: cover;
}

.normal-card__text-wedding{
    background-color: #c4c4c488;
    color: var(--tertiary-colour);
    font-family: var(--primary-font);
    font-size: 3.5rem;
    text-align: center;
    height: 8.8rem;
    width: 45.8rem;
    padding-top: 3rem;
    position: relative;
    margin-top: -20rem;
}

.text{
    text-decoration: none;
}

.card-1{
    float: left;
    margin-left: 18rem;
    margin-bottom: 5rem;
}

.card-2{
    position: absolute;
    margin-left: 84rem;
    margin-top: -68rem;
    /* left: 84rem;
    bottom: 94rem; */
}

.normal-card__text-bw{
    background-color: #c4c4c488;
    color: var(--tertiary-colour);
    font-family: var(--primary-font);
    font-size: 4.5rem;
    text-align: center;
    height: 12.8rem;
    width: 65.8rem;
    position: absolute;
    margin-top: -20rem;
    padding-top: 5rem;
    text-decoration: none;
}

.card-3{
    position: absolute;
    margin-top: 5rem;

    margin-bottom: 10rem;
}

.normal-card__text-painting{
    background-color: #c4c4c488;
    color: var(--tertiary-colour);
    font-family: var(--primary-font);
    font-size: 4.5rem;
    text-align: center;
    height: 12.8rem;
    width: 65.8rem;
    padding-top: 5rem;
    position: absolute;
    margin-top: -20rem;
}

.card-4{
    position: absolute;

    margin-left: 84rem;
    margin-top: 5rem;
}

.normal-card__text-sculpture{
    background-color: #c4c4c488;
    color: var(--tertiary-colour);
    font-family: var(--primary-font);
    font-size: 4.5rem;
    text-align: center;
    height: 12.8rem;
    width: 65.8rem;
    padding-top: 5rem;
    position: absolute;
    margin-top: -20rem;
}

.card-5{
    position: absolute;
    margin-top: 79rem;
}

.normal-card__text-animal{
    background-color: #c4c4c488;
    color: var(--tertiary-colour);
    font-family: var(--primary-font);
    font-size: 4.5rem;
    text-align: center;
    height: 12.8rem;
    width: 65.8rem;
    padding-top: 5rem;
    position: absolute;
    margin-top: -20rem;
}

.card-6{
    position: relative;
    margin-left: 84rem;
    margin-top: 79rem;
}

.normal-card__text-building{
    background-color: #c4c4c488;
    color: var(--tertiary-colour);
    font-family: var(--primary-font);
    font-size: 4.5rem;
    text-align: center;
    height: 12.8rem;
    width: 65.8rem;
    padding-top: 5rem;
    position: absolute;
    margin-top: -20rem;
}

.bottom-card{
    background-color: #D1BCD188;
    width: 65.4rem;
    height: 9.7rem;
    display: inline-block;
    margin-top: 5rem;
    font-size: 3.6rem;
    font-family: var(--primary-font);
    color: var(--tertiary-colour);
    text-align: center;
    margin-left: 42.1rem;
    padding-bottom: 1rem;
    vertical-align: text-top;
    margin-bottom: 5rem;
}

@media all and (max-width:360px) {
    .normal-card{
        width: 25.8rem;
        height: 25.8rem;
        margin-left: 3rem;
    }
    .normal-card__text-wedding,
    .normal-card__text-bw,
    .normal-card__text-painting,
    .normal-card__text-sculpture,
    .normal-card__text-animal,
    .normal-card__text-building
    {
        width: 25.8rem;
        height: 4.8rem;
        font-size: 2.8rem;
        margin-left: 3rem;
        margin-top: -8rem;
        padding-top: 1rem;
    }
    .card-2{
        margin: 0 auto;
    }
    .card-3{
        margin: 0 auto;
        margin-top: 28rem;
    }
    .card-4{
        margin: 0 auto;
        margin-top: 56rem;
    }
    .card-5{
        margin: 0 auto;
        margin-top: 84rem;
    }
    .card-6{
        margin: 0 auto;
        margin-top: 112rem;
    }
    .normal-card__text-bw{
        font-size: 2.3rem;
        height: 4rem;
    }
    .bottom-card{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }
}