.box{
    width: 92.5rem;
    height: 27.4rem;
    outline: 3px solid #000;
    background-color: #8FD798;
    margin: 0 auto;
    margin-bottom: 20rem;
    margin-top: 20rem;
}

.title,
.title2,
.desc{
    font-family: var(--primary-font);
    color: #000;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    text-align: center;
    position: relative;
}

.title{
    font-size: 4.8rem;
}

.title2,
.desc{
    font-size: 2.4rem;
}

.title2{
    bottom: 4rem;
}

.desc{
    bottom: 3rem;
}

@media all and (max-width:360px) {
    .box{
        width: 100%;
        height: 100%;
    }

}